<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.baocai.adal.web.mapper.SysPermissionDao">

    <select id="getPermissionsByRoleIds" resultType="SysPermission">
        SELECT
        sys_permission.*
        FROM
        sys_permission
        LEFT JOIN sys_role_permission ON sys_permission.id = sys_role_permission.role_id
        WHERE
        sys_role_permission.role_id = #{roleId}
        AND sys_role_permission.role_id IN
        <foreach collection="ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="getPermissionsByRoleId" resultType="SysPermission">
        SELECT
            sys_permission.*
        FROM
            sys_permission
        LEFT JOIN sys_role_permission ON sys_permission.id = sys_role_permission.permission_id
        WHERE
            sys_role_permission.role_id = #{roleId}
        ORDER BY
            sys_permission.sort ASC
    </select>
</mapper>