<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ga.baocai.adal.web.mapper.SysUserDao">

    <!-- 开启基于redis的二级缓存 -->
    <!--<cache type="me.baocai.budd.tb.RedisCache"/>-->

    <select id="findByUsernameOrPhone" resultType="ga.baocai.adal.web.entity.SysUser">
        SELECT *
        FROM sys_user
        WHERE
            username = #{username}
            OR phone = #{phone}
    </select>

    <select id="findByUsernameIn" resultType="ga.baocai.adal.web.entity.SysUser">
        SELECT id, username, password
        FROM sys_user
        WHERE username in (#{usernameList})
    </select>

    <select id="selectPageByRoleId" resultType="ga.baocai.adal.web.entity.SysUser">
        SELECT user.*
        FROM
             sys_user_role user_role
        JOIN
             sys_user user
        ON
             user_role.user_id=user.id
        WHERE
            user_role.role_id=#{roleId}
    </select>

</mapper>