<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.baocai.adal.web.mapper.SysUserDao">

    <!-- 开启基于redis的二级缓存 -->
    <!--<cache type="me.baocai.budd.tb.RedisCache"/>-->

    <select id="findByUsernameOrEmailOrPhone" resultType="SysUser">
        SELECT *
        FROM sys_user
        WHERE
            username = #{username}
            OR phone = #{phone}
            OR email = #{email}
    </select>

    <select id="findByUsernameIn" resultType="SysUser">
        SELECT id, username, password
        FROM sys_user
        WHERE username in (#{usernameList})
    </select>
</mapper>